### Creating COVID_19 Global Time Series Dataset

In [3]:
covid = "CovidGlobal_staging"
!bq --location=US mk --dataset {covid}

BigQuery error in mk operation: Dataset 'fluid-
etching-266722:CovidGlobal_staging' already exists.

### Making tables and sample records for each tables

Making a table for time_series_covid19_confirmed_US and inspecting it

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines --allow_jagged_rows --quote ""\
--source_format=CSV {"CovidGlobal_staging"}.time_series_covid19_confirmed_US \
'gs://covid_es/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'

Waiting on bqjob_re368b5502a4ad7b_00000171f713ffd9_1 ... (3s) Current status: DONE

In [5]:
%%bigquery
select*from CovidGlobal_staging.time_series_covid19_confirmed_US
limit 5

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,_4_30_20,_5_1_20,_5_2_20,_5_3_20,_5_4_20,_5_5_20,_5_6_20,_5_7_20,int64_field_118,int64_field_119
0,316,GU,GUM,316,66.0,None,Guam,US,13.444300,144.793700,...,141,145,145,145,145,145,145,149,149,NaN
1,630,PR,PRI,630,72.0,None,Puerto Rico,US,18.220800,-66.590100,...,1433,1539,1575,1757,1808,1843,1924,1968,2031,NaN
2,850,VI,VIR,850,78.0,None,Virgin Islands,US,18.335800,-64.896300,...,57,66,66,66,66,66,66,66,66,NaN
3,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,291,293,295,290,294,300,302,304,306,308.0
4,84001073,US,USA,840,1073.0,Jefferson,Alabama,US,33.555547,-86.895063,...,861,880,886,929,946,969,992,1020,1048,1065.0

Making a table for  time_series_covid19_confirmed_global.csv and inspecting it

In [7]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines --allow_jagged_rows --quote ""\
--source_format=CSV {"CovidGlobal_staging"}.time_series_covid19_confirmed_global \
'gs://covid_es/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

Waiting on bqjob_r11e42150ea37c1d2_00000171f71575bd_1 ... (2s) Current status: DONE

In [8]:
%%bigquery
select*from CovidGlobal_staging.time_series_covid19_confirmed_global
limit 5

,Province_State,Country_Region,Lat,Long,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_4_29_20,_4_30_20,_5_1_20,_5_2_20,_5_3_20,_5_4_20,_5_5_20,_5_6_20,_5_7_20,int64_field_111
0,None,Afghanistan,33.0,65.0000,0.0,0,0,0,0,0,...,1939,2171,2335,2469,2704,2894,3224,3392,3563,NaN
1,None,Albania,41.1533,20.1683,0.0,0,0,0,0,0,...,766,773,782,789,795,803,820,832,842,NaN
2,None,Algeria,28.0339,1.6596,0.0,0,0,0,0,0,...,3848,4006,4154,4295,4474,4648,4838,4997,5182,NaN
3,None,Andorra,42.5063,1.5218,0.0,0,0,0,0,0,...,743,745,745,747,748,750,751,751,752,NaN
4,None,Angola,-11.2027,17.8739,0.0,0,0,0,0,0,...,27,27,30,35,35,35,36,36,36,NaN

Making a table for time_series_covid19_deaths_US.csv and inspecting it

In [9]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines --allow_jagged_rows --quote ""\
--source_format=CSV {"CovidGlobal_staging"}.time_series_covid19_deaths_US \
'gs://covid_es/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'

Waiting on bqjob_r16f4493fe2f33523_00000171f71645d0_1 ... (3s) Current status: DONE

In [10]:
%%bigquery
select*from CovidGlobal_staging.time_series_covid19_deaths_US
limit 5

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,_4_30_20,_5_1_20,_5_2_20,_5_3_20,_5_4_20,_5_5_20,_5_6_20,_5_7_20,int64_field_119,int64_field_120
0,16,AS,ASM,16,60.0,None,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,NaN
1,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,1,1,1,1,1,1,1,1,1.0
2,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0.0
3,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0.0
4,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,0,0,0,0,0,0,0,0,1,1.0

Making a table for time_series_covid19_deaths_global.csv and inspecting it

In [11]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines --allow_jagged_rows --quote ""\
--source_format=CSV {"CovidGlobal_staging"}.time_series_covid19_deaths_global \
'gs://covid_es/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

Waiting on bqjob_r27a7eeed91111f2c_00000171f71708a2_1 ... (2s) Current status: DONE

In [12]:
%%bigquery
select*from CovidGlobal_staging.time_series_covid19_deaths_global
limit 5

,Province_State,Country_Region,Lat,Long,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_4_29_20,_4_30_20,_5_1_20,_5_2_20,_5_3_20,_5_4_20,_5_5_20,_5_6_20,_5_7_20,int64_field_111
0,Northern Territory,Australia,-12.4634,130.8456,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,None,Bhutan,27.5142,90.4336,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,None,Cambodia,11.55,104.9167,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,Grand Princess,Canada,37.6489,-122.6655,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,New Brunswick,Canada,46.5653,-66.4619,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

Making a table for time_series_covid19_recovered_global.csv and inspecting it

In [13]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines --allow_jagged_rows --quote ""\
--source_format=CSV {"CovidGlobal_staging"}.time_series_covid19_recovered_global \
'gs://covid_es/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

Waiting on bqjob_r23acc191780cb62_00000171f71801ab_1 ... (1s) Current status: DONE

In [14]:
%%bigquery
select*from CovidGlobal_staging.time_series_covid19_recovered_global
limit 5

,Province_State,Country_Region,Lat,Long,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_4_29_20,_4_30_20,_5_1_20,_5_2_20,_5_3_20,_5_4_20,_5_5_20,_5_6_20,_5_7_20,int64_field_111
0,None,Albania,41.1533,20.1683,0.0,0,0,0,0,0,...,455,470,488,519,531,543,570,595,605,NaN
1,None,Angola,-11.2027,17.8739,0.0,0,0,0,0,0,...,7,7,11,11,11,11,11,11,11,NaN
2,None,Antigua and Barbuda,17.0608,-61.7964,0.0,0,0,0,0,0,...,11,11,15,15,15,15,16,16,16,NaN
3,Australian Capital Territory,Australia,-35.4735,149.0124,0.0,0,0,0,0,0,...,101,103,103,103,103,103,103,103,103,NaN
4,Northern Territory,Australia,-12.4634,130.8456,0.0,0,0,0,0,0,...,25,25,24,24,24,24,26,27,27,NaN